#parent {
    background-color: aqua;
    position: absolute;

    left: 50%;
    transform: translate(-50%);
    /* Задайте ширину и высоту, если нужно */
    width: 200px;
    top:0 px;
    height: 200px;
}