#parent {

    background-color: red;
    width: 300px;
    height: 300px;
}
#child1, #child2 {
    width: 100px;
    height: 100px;
}    
#child1 {
    background-color: blue;
    position: relative;
    left: 200px;
    top:200px;
    }
#child2 {
    background-color: green;
}